{% extends 'base.html' %}
{% block content %}
{%load static %}

<script>

</script>
<!-- Breadcrumb Start -->

<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            {% for cart_item in Cart_Items %}
                            <tr>
                                <td>
                                    <div class="img">
                                        <a href="/product-detail/{{cart_item.slug}}"><img
                                                src="{{cart_item.items.image.url}}" alt="Image"></a>
                                        <p>{{cart_item.items.pname}}</p>
                                    </div>
                                </td>
                                {% if cart_item.items.discount > 0 %}
                                <td>${{cart_item.items.discount}}</td>
                                {% else %}
                                <td>${{cart_item.items.price}}</td>
                                {% endif %}
                                <td>
                                    <div class="qty">

                                        <button onclick="location.href='/decrease-quantity/{{cart_item.slug}}'"class="btn-minus"><i class="fa fa-minus"></i></button>
                                        <input type="text" id='quantity_{{cart_item.slug}}'
                                               value="{{cart_item.quantity}}">
                                        <button onclick="location.href='/addtocart/{{cart_item.slug}}'" class="btn-plus"><i class="fa fa-plus"></i></button>

                                    </div>
                                </td>
                                <td id="total_{{cart_item.slug}}">${{cart_item.total}}</td>

                                <td><a href="/delete-cart/{{cart_item.slug}}"
                                    <button><i class="fa fa-trash"></i></button>
                                </td>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>${{Sub_Total}}</span></p>
                                    <p>Shipping Cost<span>${{Shipping}}</span></p>
                                    {% if Sub_Total != 0%}
                                    <h2 style="font-size:15px;">Grand Total<span>${{Grand_Total}}</span></h2>
                                    {% endif %}


                                </div>
                                <div class="cart-btn">

                                   <button onclick =" location.href = '{% url 'checkout' %}' ">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}